# install libraries

In [1]:
!pip install bs4 
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

# import required libraries

# ANS. 1

In [544]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [545]:
url = 'https://en.wikipedia.org/wiki/Main_Page'

In [546]:
response = requests.get(url)

In [547]:
response

In [548]:
soup = BeautifulSoup(response.content,'html.parser')

In [549]:
header_tags = soup.find_all(['h1','h2','h3','h4','h5','h6'])

In [550]:
print('header tags :', *header_tags, sep='\n\n')

header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

In [551]:
header_texts = [tag.text.strip() for tag in header_tags]

In [552]:
df = pd.DataFrame({'Headers': header_texts})
df

                         Headers
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# ANS. 2

In [612]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [613]:
url = "https://presidentofindia.nic.in/"

In [614]:
response = requests.get(url)

In [615]:
response

In [616]:
soup = BeautifulSoup(response.content)

In [617]:
presidents_name=[]

for i in soup.find_all('h3'):
    presidents_name.append(i.text.split("(")[0])
    
presidents_name

['Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad',
 'Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad']

In [618]:
presidents_term=[]

for i in soup.find_all('p',class_=""):
    presidents_term.append(i.text.split(":")[0])

ind2remove=[1,3,5,7]

for i in sorted(ind2remove,reverse=True):
    del presidents_term[i]
    
presidents_term

['Smt. Droupadi Murmu was sworn in as the 15th President of India on 25 July, 2022. Previously, she was the Governor of Jharkhand from 2015 to 2021.',
 'no-text\xa0 Read More',
 'A group of 213 probationers of Indian Railways (… ',
 'The President of India, Smt Droupadi Murmu… ',
 'Ram Nath Kovind is an Indian politician and lawyer who served as the 14th president of…',
 'Pranab Mukherjee BR (11 December 1935 – 31 August 2020) was an Indian politician and…',
 'Prathibha Devisingh Patil is an Indian politician and lawyer who served as the 12th…',
 'Avul Pakir Jainulabdeen Abdul Kalam BR was an Indian aerospace scientist and statesman…',
 'Kocheril Raman Narayanan (27 October 1920 – 9 November 2005) was an Indian statesman,…',
 'Ramaswamy Venkataraman 4 December 1910 – 27 January 2009)was an Indian lawyer, Indian…',
 'Giani Zail Singh born Jarnail Singh; (5 May 1916 – 25 December 1994) was an Indian…',
 'Neelam Sanjiva Reddy (19 May 1913 – 1 June 1996) was an Indian politician who served…',
 'Fakhruddin Ali Ahmed (13 May 1905 – 11 February 1977) was an Indian lawyer and…',
 'Varahagiri Venkata Giri (10 August 1894 – 24 June 1980) was an Indian politician and…',
 'Zakir Husain Khan (8 February 1897 – 3 May 1969) known as Dr. Zakir Husain, was an…',
 'Sarvepalli Radhakrishnan OM (5 September 1888 – 17 April 1975), natively…',
 'Rajendra Prasad (3 December 1884 – 28 February 1963) was an Indian politician, lawyer…',
 'Ram Nath Kovind is an Indian politician and lawyer who served as the 14th president of… ',
 'Pranab Mukherjee BR (11 December 1935 – 31 August 2020) was an Indian politician and… ',
 'Prathibha Devisingh Patil is an Indian politician and lawyer who served as the 12th… ',
 'Avul Pakir Jainulabdeen Abdul Kalam BR was an Indian aerospace scientist and statesman… ',
 'Kocheril Raman Narayanan (27 October 1920 – 9 November 2005) was an Indian statesman,… ',
 'Ramaswamy Venkataraman 4 December 1910 – 27 January 2009)was an Indian lawyer, Indian… ',
 'Giani Zail Singh born Jarnail Singh; (5 May 1916 – 25 December 1994) was an Indian… ',
 'Neelam Sanjiva Reddy (19 May 1913 – 1 June 1996) was an Indian politician who served… ',
 'Fakhruddin Ali Ahmed (13 May 1905 – 11 February 1977) was an Indian lawyer and… ',
 'Varahagiri Venkata Giri (10 August 1894 – 24 June 1980) was an Indian politician and… ',
 'Zakir Husain Khan (8 February 1897 – 3 May 1969) known as Dr. Zakir Husain, was an… ',
 'Sarvepalli Radhakrishnan OM (5 September 1888 – 17 April 1975), natively… ',
 'Rajendra Prasad (3 December 1884 – 28 February 1963) was an Indian politician, lawyer… ',
 "Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat.",
 ' ',
 'Page Last Updated on']

In [667]:
president = {'President Name': presidents_name}
df= pd.DataFrame(president)
df

                  President Name
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad
14          Shri Ram Nath Kovind
15         Shri Pranab Mukherjee
16  Smt Pratibha Devisingh Patil
17        DR. A.P.J. Abdul Kalam
18          Shri K. R. Narayanan
19       Dr Shankar Dayal Sharma
20           Shri R Venkataraman
21              Giani Zail Singh
22     Shri Neelam Sanjiva Reddy
23      Dr. Fakhruddin Ali Ahmed
24  Shri Varahagiri Venkata Giri
25              Dr. Zakir Husain
26  Dr. Sarvepalli Radhakrishnan
27           Dr. Rajendra Prasad

In [627]:
pre_term = {'Term Of Office': presidents_term}
df= pd.DataFrame(pre_term)
df

                                       Term Of Office
0   Smt. Droupadi Murmu was sworn in as the 15th P...
1                                  no-text  Read More
2   A group of 213 probationers of Indian Railways...
3        The President of India, Smt Droupadi Murmu…
4   Ram Nath Kovind is an Indian politician and la...
5   Pranab Mukherjee BR (11 December 1935 – 31 Aug...
6   Prathibha Devisingh Patil is an Indian politic...
7   Avul Pakir Jainulabdeen Abdul Kalam BR was an ...
8   Kocheril Raman Narayanan (27 October 1920 – 9 ...
9   Ramaswamy Venkataraman 4 December 1910 – 27 Ja...
10  Giani Zail Singh born Jarnail Singh; (5 May 19...
11  Neelam Sanjiva Reddy (19 May 1913 – 1 June 199...
12  Fakhruddin Ali Ahmed (13 May 1905 – 11 Februar...
13  Varahagiri Venkata Giri (10 August 1894 – 24 J...
14  Zakir Husain Khan (8 February 1897 – 3 May 196...
15  Sarvepalli Radhakrishnan OM (5 September 1888 ...
16  Rajendra Prasad (3 December 1884 – 28 February...
17  Ram Nath Kovind is an Indian politician and la...
18  Pranab Mukherjee BR (11 December 1935 – 31 Aug...
19  Prathibha Devisingh Patil is an Indian politic...
20  Avul Pakir Jainulabdeen Abdul Kalam BR was an ...
21  Kocheril Raman Narayanan (27 October 1920 – 9 ...
22  Ramaswamy Venkataraman 4 December 1910 – 27 Ja...
23  Giani Zail Singh born Jarnail Singh; (5 May 19...
24  Neelam Sanjiva Reddy (19 May 1913 – 1 June 199...
25  Fakhruddin Ali Ahmed (13 May 1905 – 11 Februar...
26  Varahagiri Venkata Giri (10 August 1894 – 24 J...
27  Zakir Husain Khan (8 February 1897 – 3 May 196...
28  Sarvepalli Radhakrishnan OM (5 September 1888 ...
29  Rajendra Prasad (3 December 1884 – 28 February...
30  Website hosted by National Informatics Centre....
31
32                               Page Last Updated on

 # ANS. 3 (i)

In [195]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [204]:
team_url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [205]:
response = requests.get(team_url)
response

In [206]:
soup = BeautifulSoup(response.content,"html.parser")

In [209]:
team = soup.find_all('span',class_ = "u-hide-phablet")
odi_team = []

for i in team:
    odi_team.append(i.text.replace("\n",""))
odi_team = odi_team[:10]
odi_team

['Pakistan',
 'Australia',
 'India',
 'England',
 'New Zealand',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies']

In [216]:
title = soup.find_all('span',class_="u-hide-mobile")
Title = []

for i in title:
    Title.append(i.text.replace("\n",""))
Title

['Team', 'Matches', 'Points', 'Rating']

In [224]:
Match = soup.find_all('td',class_="rankings-block__banner--matches")
Matches = []

for i in Match:
    Matches.append(i.text.replace("\n",""))
    
Matches

['26']

In [231]:
Pts = soup.find_all('td', class_ = "rankings-block__banner--points")
Points = []

for i in Pts:
    Points.append(i.text.replace("\n",""))
    
Points

['3,061']

In [237]:
rtg = soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
Ratings = []
for i in rtg:
    Ratings.append(i.text.replace("\n",""))
Ratings = [i.split('                            ')[1]for i in Ratings ]   
Ratings

['118']

In [245]:
stat = soup.find_all('td', class_ = "table-body__cell u-center-text")
Stats = []

for i in stat:
    Stats.append(i.text.replace("\n",""))

In [253]:
for i in range(0,len(Stats)):
    if i == 0 or i/2 ==i//2:
        Matches.append(Stats[i])
    else:
        Points.append(Stats[i])
Points = Points[:10]
Matches= Matches[:10]

In [256]:
rat = soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in rat:
    Ratings.append(i.text.replace("\n",""))
Ratings= Ratings[:10]

In [258]:
odi_top_10 = pd.DataFrame({Title[0]:odi_team, Title[1]:Matches, Title[2]: Points, Title[3]: Ratings})

In [259]:
odi_top_10

           Team Matches Points Rating
0      Pakistan      26  3,061    118
1     Australia      26  3,061    118
2         India      39  4,516    116
3       England      27  2,790    103
4   New Zealand      30  3,057    102
5  South Africa      22  2,218    101
6    Bangladesh      32  2,941     92
7     Sri Lanka      36  3,280     91
8   Afghanistan      21  1,687     80
9   West Indies      38  2,582     68

## ANS.  3(ii) &(iii)

In [42]:
bat_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [43]:
response = requests.get(bat_url)
response

In [60]:
bat_soup = BeautifulSoup(response.content,'html.parser')

In [71]:
nam = bat_soup.find_all('div', class_ = "rankings-block__banner--name")
Banner_name = []

for i in nam:
    Banner_name.append(i.text.replace("\n",""))
Banner_name

['Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan',
 'Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan']

In [89]:
nat = bat_soup.find_all('div',class_="rankings-block__banner--nationality")
natt = []

for i in nat:
    natt.append(i.text.replace("\n",""))
natt

['PAK863', 'AUS692', 'BAN363', 'PAK863', 'AUS692', 'BAN363']

In [88]:
rat = bat_soup.find_all('div', class_ = "rankings-block__banner--rating")
ratt = []

for i in rat:
    ratt.append(i.text.replace("\n",""))
ratt

['863', '692', '363', '863', '692', '363']

In [101]:
Batsman_name = [Banner_name[0]]
Batsman_nation = [natt[0]]
Batsman_Rattings = [ratt[0]]
Bowler_name = [Banner_name[1]]
Bowler_nation = [natt[1]]
Bowler_Rattings = [ratt[1]]

In [102]:
Nam = bat_soup.find_all(['td'], class_ = "table-body__cell name")
table_names = []
for i in Nam:
    table_names.append(i.text.replace("\n",""))
table_names = table_names[:18]
table_names

['Shubman Gill',
 'Rassie van der Dussen',
 'David Warner',
 'Imam-ul-Haq',
 'Harry Tector',
 'Quinton de Kock',
 'Virat Kohli',
 'Rohit Sharma',
 'Fakhar Zaman',
 'Mitchell Starc',
 'Trent Boult',
 'Adam Zampa',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Kuldeep Yadav',
 'Rashid Khan',
 'Mohammed Siraj',
 'Shaheen Afridi']

In [103]:
nat1 = bat_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1 = []
for i in nat1:
    Nat1.append(i.text.replace("\n",""))
Nat1 = Nat1[:18]
Nat1

['IND',
 'SA',
 'AUS',
 'PAK',
 'IRE',
 'SA',
 'IND',
 'IND',
 'PAK',
 'AUS',
 'NZ',
 'AUS',
 'NZ',
 'AFG',
 'IND',
 'AFG',
 'IND',
 'PAK']

In [104]:
rat1 = bat_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1 = []
for i in rat1:
    Rat1.append(i.text.replace("\n",""))
Rat1 = Rat1[:18]
Rat1

['759',
 '745',
 '739',
 '735',
 '726',
 '721',
 '715',
 '707',
 '705',
 '666',
 '666',
 '663',
 '658',
 '657',
 '656',
 '655',
 '643',
 '635']

In [105]:
for i in table_names[0:9]:
    Batsman_name.append(i)
for i in Nat1[0:9]:
    Batsman_nation.append(i)
for i in Rat1[0:9]:
    Batsman_Rattings.append(i)
for i in table_names[9:18]:
    Bowler_name.append(i)
for i in Nat1[9:18]:
    Bowler_nation.append(i)
for i in Rat1[9:18]:
    Bowler_Rattings.append(i)

In [107]:
odi_bat= pd.DataFrame({"Batsman_name":Batsman_name, "Batsman_nation":Batsman_nation, "Batsman_Rattings": Batsman_Rattings})

In [108]:
odi_bat

            Batsman_name Batsman_nation Batsman_Rattings
0             Babar Azam         PAK863              863
1           Shubman Gill            IND              759
2  Rassie van der Dussen             SA              745
3           David Warner            AUS              739
4            Imam-ul-Haq            PAK              735
5           Harry Tector            IRE              726
6        Quinton de Kock             SA              721
7            Virat Kohli            IND              715
8           Rohit Sharma            IND              707
9           Fakhar Zaman            PAK              705

In [110]:
odi_Bowler = pd.DataFrame({"Bowler_name":Bowler_name, "Bowler_nation":Bowler_nation, "Bowler_Rattings": Bowler_Rattings})

In [112]:
odi_Bowler

        Bowler_name Bowler_nation Bowler_Rattings
0    Josh Hazlewood        AUS692             692
1    Mitchell Starc           AUS             666
2       Trent Boult            NZ             666
3        Adam Zampa           AUS             663
4        Matt Henry            NZ             658
5  Mujeeb Ur Rahman           AFG             657
6     Kuldeep Yadav           IND             656
7       Rashid Khan           AFG             655
8    Mohammed Siraj           IND             643
9    Shaheen Afridi           PAK             635

# ANS.  4 (i)

In [4]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
w_team_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [6]:
response = requests.get(w_team_url)
response

In [7]:
soup = BeautifulSoup(response.content,"html.parser")

In [10]:
team = soup.find_all('span',class_ = "u-hide-phablet")
w_odi_team = []

for i in team:
    odi_team.append(i.text.replace("\n",""))
w_odi_team = odi_team[:10]
w_odi_team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Sri Lanka',
 'Thailand',
 'Pakistan']

In [11]:
title = soup.find_all('span',class_="u-hide-mobile")
Title = []

for i in title:
    Title.append(i.text.replace("\n",""))
Title

['Team', 'Matches', 'Points', 'Rating']

In [12]:
Match = soup.find_all('td',class_="rankings-block__banner--matches")
Matches = []

for i in Match:
    Matches.append(i.text.replace("\n",""))
    
Matches

['26']

In [13]:
Pts = soup.find_all('td', class_ = "rankings-block__banner--points")
Points = []

for i in Pts:
    Points.append(i.text.replace("\n",""))
    
Points

['4,290']

In [14]:
rtg = soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
Ratings = []
for i in rtg:
    Ratings.append(i.text.replace("\n",""))
Ratings = [i.split('                            ')[1]for i in Ratings ]

['165']

In [15]:
stat = soup.find_all('td', class_ = "table-body__cell u-center-text")
Stats = []

for i in stat:
    Stats.append(i.text.replace("\n",""))

In [16]:
for i in range(0,len(Stats)):
    if i == 0 or i/2 ==i//2:
        Matches.append(Stats[i])
    else:
        Points.append(Stats[i])
Points = Points[:10]
Matches= Matches[:10]

In [17]:
rat = soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in rat:
    Ratings.append(i.text.replace("\n",""))
Ratings= Ratings[:10]

In [21]:
w_odi_top_10 = pd.DataFrame({Title[0]:w_odi_team, Title[1]:Matches, Title[2]: Points, Title[3]: Ratings})

In [22]:
w_odi_top_10

           Team Matches Points Rating
0     Australia      26  4,290    165
1       England      31  3,875    125
2  South Africa      26  3,098    119
3         India      30  3,039    101
4   New Zealand      28  2,688     96
5   West Indies      29  2,743     95
6    Bangladesh      17  1,284     76
7     Sri Lanka      12    820     68
8      Thailand      13    883     68
9      Pakistan      27  1,678     62

# ANS. 4 (ii)& (iii)

In [33]:
wom_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [35]:
respone = requests.get(wom_url)
response

In [36]:
w_soup = BeautifulSoup(ICC_Wom.content,'html.parser')

In [37]:


nam_w = w_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name_w = []

for i in nam_w:
    banner_name_w.append(i.text.replace("\n",""))
banner_name_w

['Natalie Sciver-Brunt', 'Sophie Ecclestone', 'Natalie Sciver-Brunt']

In [38]:
nat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt_w = []

for i in nat_w:
    natt_w.append(i.text.replace("\n",""))

rat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt_w = []

for i in rat_w:
    ratt_w.append(i.text.replace("\n",""))
    
Batsman_name_w=[banner_name_w[0]]
Batsman_nation_w= [natt_w[0]]
Batsman_Rattings_w= [ratt_w[0]]
allrounder_name_w= [banner_name_w[-1]]
allrounder_nation_w= [natt_w[-1]]
allrounder_Rattings_w= [ratt_w[-1]]    

Nam_w = player_w_soup.find_all(['td'], class_ = "table-body__cell name")
table_names_w = []
for i in Nam_w:
    table_names_w.append(i.text.replace("\n",""))


nat1_w = player_w_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1_w = []
for i in nat1_w:
    Nat1_w.append(i.text.replace("\n",""))

rat1_w = player_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1_w = []
for i in rat1_w:
    Rat1_w.append(i.text.replace("\n",""))



for i in table_names_w[0:9]:
    Batsman_name_w.append(i)
for i in Nat1_w[0:9]:
    Batsman_nation_w.append(i)
for i in Rat1_w[0:9]:
    Batsman_Rattings_w.append(i)    
for i in table_names_w[18:27]:
    allrounder_name_w.append(i)
for i in Nat1_w[18:27]:
    allrounder_nation_w.append(i)
for i in Rat1_w[18:27]:
    allrounder_Rattings_w.append(i)

In [40]:
ODI_TOP_10_Batsman_w = pd.DataFrame({"Batsman_name_W":Batsman_name_w, "Batsman_nation_w":Batsman_nation_w, "Batsman_Rattings_w": Batsman_Rattings_w})
ODI_TOP_10_allrounder_w = pd.DataFrame({"allrounder_name_w":allrounder_name_w, "allrounder_nation_w":allrounder_nation_w, "allrounder_Rattings_w": allrounder_Rattings_w})

In [41]:
ODI_TOP_10_Batsman_w

         Batsman_name_W Batsman_nation_w Batsman_Rattings_w
0  Natalie Sciver-Brunt           ENG801                801
1           Beth Mooney              AUS                751
2   Chamari Athapaththu               SL                743
3       Laura Wolvaardt               SA                708
4       Smriti Mandhana              IND                708
5          Alyssa Healy              AUS                702
6      Harmanpreet Kaur              IND                694
7          Ellyse Perry              AUS                686
8           Meg Lanning              AUS                682
9       Stafanie Taylor               WI                618

In [42]:
ODI_TOP_10_allrounder_w

      allrounder_name_w allrounder_nation_w allrounder_Rattings_w
0  Natalie Sciver-Brunt              ENG398                   398
1      Ashleigh Gardner                 AUS                   389
2       Hayley Matthews                  WI                   382
3        Marizanne Kapp                  SA                   362
4          Ellyse Perry                 AUS                   329
5           Amelia Kerr                  NZ                   328
6         Deepti Sharma                 IND                   312
7         Jess Jonassen                 AUS                   241
8         Sophie Devine                  NZ                   233
9              Nida Dar                 PAK                   217

## ANS.  5

In [257]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [258]:
url = "https://www.cnbc.com/world/?region=world"

In [259]:
response = requests.get(url)
response

In [260]:
soup = BeautifulSoup(response.content,"html.parser")

In [261]:
news_section = soup.find("section",{"class":"card-grid"})

In [262]:
headlines =[]
times = []
news_links = []

In [276]:

for i in soup.find_all('div',class_="LatestNews-headlineWrapper"):
    headlines.append(i.text.replace('2022',"Ago").split("Ago")[1])
    

for i in soup.find_all('time',class_="LatestNews-timestamp"):
    times.append(i.text)

for i in soup.find_all('a',class_="LatestNews-headline"):
    news_links.append(i['href'])

In [277]:
latest_news = pd.DataFrame({'Headline':headlines,'Time':times,'News Link':news_links})

In [602]:
latest_news

,Headline,Time,News Link
0,Trump bemoans high interest rates and indicate...,7 Min Ago,https://www.cnbc.com/2023/09/15/trump-bemoans-...
1,Striking auto workers want a 40% pay increase—...,8 Min Ago,https://www.cnbc.com/2023/09/15/striking-uaw-a...
2,Senators ask Pentagon for answers on SpaceX’s ...,20 Min Ago,https://www.cnbc.com/2023/09/15/spacex-starlin...
3,UAW strike brings blue-collar vs. billionaire ...,34 Min Ago,https://www.cnbc.com/2023/09/15/uaw-strike-bri...
4,"Fortinet, Verizon and more: CNBC's 'Halftime R...",39 Min Ago,https://www.cnbc.com/2023/09/15/fortinet-and-m...
...,...,...,...
205,This company is transforming the energy drink ...,4 Hours Ago,https://www.cnbc.com/2023/09/15/this-company-i...
206,Here's where AMC and GameStop are now as 'Dumb...,4 Hours Ago,https://www.cnbc.com/2023/09/15/heres-where-am...
207,The most 'underrated' nutrient 90% of American...,5 Hours Ago,https://www.cnbc.com/2023/09/15/underrated-nut...
208,CFP: 'My wife and I have almost entirely separ...,5 Hours Ago,https://www.cnbc.com/2023/09/15/cfp-how-my-wif...
209,Buy this landfill stock as it flexes its stron...,5 Hours Ago,https://www.cnbc.com/2023/09/15/buy-this-landf...

# ANS.  6

In [659]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

In [660]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [661]:
response = requests.get(url)
response

In [662]:
soup = BeautifulSoup(response.content,)

In [663]:
paper_titles = []
authors_lists = []
published_dates = []
papers_urls = []

In [664]:
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_titles.append(i.text)

for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors_lists.append(i.text)

for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_dates.append(i.text)


for i in soup.find_all('a',atters={'href': re.compile("^https://")},class_="sc-5smygv-0 nrDZj"):
    papers_urls.append(i.get('href'))

In [665]:
data = {'Paper Title': paper_titles,'Authors': authors_lists,'Published Date': published_dates}
df = pd.DataFrame(data)
df

,Paper Title,Authors,Published Date
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021

# ANS. 7

In [451]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [452]:
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"

In [454]:
response = requests.get(url)
response

In [455]:
dineout_page = BeautifulSoup(response.content)

In [456]:
RestaurantName=[]
Cuisine=[]
Location=[]
Ratings=[]
ImageURL=[]

In [457]:
for i in dineout_page.find_all('div',class_="restnt-info cursor"):
    RestaurantName.append(i.text)

for i in dineout_page.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text.split("|")[1])

for i in dineout_page.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)

for i in dineout_page.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)

for i in dineout_page.find_all('img',class_="no-img"):
    ImageURL.append(i['data-src'])

In [458]:
data = {'Restaurant name':RestaurantName,'Cuisine':Cuisine,'Location':Location,'Ratings':Ratings,'Image URL':ImageURL}
df = pd.DataFrame(data)
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,"The Barbeque TimesM2K Corporate Park,Sector 51...","North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...