In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

import warnings
warnings.filterwarnings('ignore')

# 1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [2]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [3]:
url = 'https://www.amazon.in/'
driver.get(url)

In [4]:
prod = input('Enter what you want to search :')

Enter what you want to search :guitar

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys(prod)
search.submit()

# 2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [6]:
name,price,dilevery,url = [],[],[],[]
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [8]:
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[65]/div/div/span/a[3]')
nex.click()

In [9]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [10]:
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[63]/div/div/span/a[4]')
nex.click()

In [11]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [12]:
len(name),len(price),len(dilevery),len(url)

(184, 186, 176, 184)

In [13]:
guti = pd.DataFrame({'Brand Name':name[0:176],'Price':price[0:176],'Expected Dilevery':dilevery,'Product URL':url[0:176],'Availability':'Available'})

In [14]:
guti.to_csv('guitar.csv')

In [78]:
df = pd.read_csv('guitar.csv')
df.head()

,Unnamed: 0,Brand Name,Price,Expected Dilevery,Product URL,Availability
0,0,"Kadence rosewood Guitar Frontier Series, Elect...","6,999","Saturday, 7 October",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...,Available
1,1,Kadence Frontier guitar with Online Guitar lea...,"6,999","Thursday, 5 October",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...,Available
2,2,Henrix 38C 38 Inch Cutaway Acoustic Guitar Wit...,"6,999","Saturday, 7 October",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...,Available
3,3,Revel Acoustic Guitar with Carry bag and Plect...,"4,999","Wednesday, 4 October",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...,Available
4,4,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","4,299","Monday, 2 October",https://www.amazon.in/Juarez-Acoustic-Cutaway-...,Available

In [16]:
driver.close()

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [17]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [19]:
url = 'https://images.google.com'
driver.get(url)

In [20]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
search.send_keys('fruits')
search.submit()

In [21]:
imag = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    imag.append(i.get_attribute('src'))

In [22]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cars')
search.submit()

In [23]:
car = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    car.append(i.get_attribute('src'))

In [24]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('machine learning')
search.submit()

In [25]:
ml = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    ml.append(i.get_attribute('src'))

In [26]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('guitar')
search.submit()

In [27]:
guitar = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    guitar.append(i.get_attribute('src'))

In [28]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cake')
search.submit()

In [29]:
cake = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    cake.append(i.get_attribute('src'))

In [30]:
d = pd.DataFrame({'Fruits':imag[0:10],'Cars':car[0:10],'Machine Learning':ml[0:10],'Guitar':guitar[0:10],'Cake':cake[0:10]})

In [31]:
d.to_csv('image.csv')

In [32]:
di = pd.read_csv('image.csv')
di.drop('Unnamed: 0',axis =1)

,Fruits,Cars,Machine Learning,Guitar,Cake
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [33]:
driver.close()

# 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [36]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [37]:
url = 'https:www.flipkart.com'
driver.get(url)

In [39]:
close_log_in_window = driver.find_element(By.XPATH,'/html/body/div[3]/div/span')
close_log_in_window.click()

In [41]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('oneplus nord')
search.submit()

In [42]:
brand,name,color = [],[],[]
for i in driver.find_elements(By.XPATH,'//div[@class = "_4rR01T"]'):
    brand.append(i.text.split(' ')[0])
    name.append(i.text)
    co = i.text.split('(')[-1]
    color.append(co.split(',')[0])

In [43]:
ram,rom,pc,display,battery = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]'):
    display.append(i.text.split('\n')[1])
    battery.append(i.text.split('\n')[-2])
    
    ra = i.text.split('\n')[0]
    ram.append(ra.split('|')[0])
    rom.append(ra.split('|')[1])
    
    cam = i.text.split('\n')[2]
    pc.append(cam.split('|')[0])

In [44]:
price,link = [],[]
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]'):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = '_1fQZEK']"):
    link.append(i.get_attribute('href'))

In [45]:
len(brand),len(name),len(color),len(ram),len(rom),len(pc),len(display),len(battery),len(price),len(link)

(24, 24, 24, 24, 24, 24, 24, 24, 24, 24)

In [46]:
pho = pd.DataFrame({'Brand Name':brand,'Smartphone Name':name,'Color':color,'RAM':ram,'Storage(ROM)':rom,'Camera':pc,'Display':display,'Battery':battery,'Price':price,'URL':link})

In [47]:
pho.to_csv('Phone.csv')

In [48]:
pd.read_csv('Phone.csv').(head)

,Unnamed: 0,Brand Name,Smartphone Name,Color,RAM,Storage(ROM),Camera,Display,Battery,Price,URL
0,0,OnePlus,"OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 256...",Chromatic Gray,8 GB RAM,256 GB ROM,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹21,998",https://www.flipkart.com/oneplus-nord-ce-3-lit...
1,1,OnePlus,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹16,997",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,2,OnePlus,"OnePlus Nord CE 3 Lite 5G (Pastel Lime, 256 GB)",Pastel Lime,8 GB RAM,256 GB ROM,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹21,989",https://www.flipkart.com/oneplus-nord-ce-3-lit...
3,3,OnePlus,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹16,970",https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,4,OnePlus,"OnePlus Nord CE 3 Lite 5G (Pastel Lime, 128 GB)",Pastel Lime,8 GB RAM,128 GB ROM,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹19,995",https://www.flipkart.com/oneplus-nord-ce-3-lit...

In [49]:
driver.close()

# 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [3]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [4]:
url = 'https://www.google.com/maps'
driver.get(url)

In [6]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input')
search.send_keys('Mumbai')

In [8]:
loc = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button')
loc.click()

In [9]:
time.sleep(5)
url = driver.current_url

In [10]:
ll = url.split('/')[-2]

In [11]:
lat = ll.split(',')[0].replace('@','')
lon = ll.split(',')[1]

In [12]:
print('Latitude = ',lat)
print('Longitude = ',lon)

Latitude =  19.0821775
Longitude =  72.7163722

In [13]:
driver.close()

# 6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [3]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [4]:
url = 'https://www.digit.in'
driver.get(url)

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[5]/div/form/input[1]')
search.send_keys('top laptop')

In [6]:
loc = driver.find_element(By.XPATH,'/html/body/div[5]/div/form/button')
loc.click()

In [15]:
laptop,price = [],[]
for i in driver.find_elements(By.XPATH,'//h3[@class=" text-clamp text-clamp-2"]'):
    laptop.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="woocommerce-Price-amount amount"]'):
    price.append(i.text.split('\n')[-1])

In [11]:
len(price),len(laptop)

(7, 12)

In [16]:
laptop = laptop[:7]

In [18]:
df = pd.DataFrame({'Laptop Name':laptop,'PRICE':price})

In [19]:
df

                                         Laptop Name        PRICE
0   AVITA PURA E14 NS14A6ING541-IBB 14 inches Laptop   ₹19,990.00
1                Dell Alienware m16 R1 Gaming Laptop  ₹409,202.00
2                Dell Alienware x14 R2 Gaming Laptop  ₹143,152.00
3                 Hp Victus Gaming Laptop 16-r0075TX  ₹102,999.00
4  Microsoft Surface Laptop 4 5PB-00023 Ryzen 5-4...  ₹117,290.00
5  Microsoft Surface Laptop 3 V4G-00021 Ryzen 5-3...  ₹189,000.00
6  Microsoft Surface Laptop 5 RIP-00048 12th Gen ...  ₹174,990.00

In [20]:
driver.close()

# 7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped:“Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [63]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [64]:
url = 'https://www.forbes.com'
driver.get(url)

In [65]:
menu = driver.find_element(By.XPATH,'//div[@class="_69hVhdY4"]')
menu.click()

In [66]:
billionaires = driver.find_element(By.XPATH,'//li[@class="TjJgrPSg cD45ib6e primary"]')
billionaires.click()

In [68]:
Rank =[]
Name=[]
Net_worth=[]
Age=[]
Citizenship=[]
Source=[]
Industry=[]

In [69]:
rank = driver.find_elements(By.XPATH,'//div[@class="Table_rank___YBhk Table_dataCell__2QCve"]')
for i in rank:
    Rank.append(i.text)

In [70]:
name = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div')
for i in name:
    Name.append(i.text)

In [71]:
net_worth = driver.find_elements(By.XPATH,'//div[@class="Table_netWorth___L4R5 Table_dataCell__2QCve"]')
for i in net_worth:
    Net_worth.append(i.text)

In [72]:
age = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[4]/div')
for i in age:
    Age.append(i.text)

In [73]:
citizen =  driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]/div[5]')
for i in citizen:
    Citizenship.append(i.text)

In [74]:

try:
    source=driver.find_elements(By.XPATH,'//div[@class="source-column"]')
    for i in source:
        Source.append(i.text)
except:
    source=driver.find_elements(By.XPATH,'//*[@id="jeff-bezos"]/div[6]/div/div[1]')
    Source.append(i.text)

In [75]:
industry = driver.find_elements(By.XPATH,"//div[@class='category']//div")
for i in industry:
    Industry.append(i.text)

In [77]:
Forbes_list=pd.DataFrame({'Rank':Rank,'net worth':Net_worth})
Forbes_list

    Rank net worth
0      1    $211 B
1      2    $180 B
2      3    $114 B
3      4    $107 B
4      5    $106 B
..   ...       ...
195  195    $9.6 B
196  195    $9.6 B
197  195    $9.6 B
198  195    $9.6 B
199  195    $9.6 B

[200 rows x 2 columns]

# 8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [82]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [83]:
url = 'https://www.youtube.com'
driver.get(url)

In [85]:
search = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/form/div[1]/div[1]/input')
search.send_keys('virat kholi wikipedia')
search.submit()
delay = 5

In [89]:
bill = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer[1]/div[3]/ytd-video-renderer[1]/div[1]/div/div[1]/div/h3/a')
bill.click()

In [103]:
#scraping the data of comments
cm_tags = driver.find_elements(By.XPATH,'//*[@class="style-scope ytd-expander"]')
comments = []  # Initialize the comments list
for cm in cm_tags:
    if cm.text is None:
        comments.append("--")
    else:
        comments.append(cm.text)
time.sleep(5)

In [104]:
# Scraping the data of time when the comment was posted
tm_tags = driver.find_elements(By.XPATH, '//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]')
comment_time = []  # Initialize the comment_time list
for tm in tm_tags:
    if tm.text is None:
        comment_time.append("--")
    else:
        comment_time.append(tm.text)
time.sleep(5)

In [105]:
# scraping the data of comment likes
like_tags = driver.find_elements(By.XPATH, '//span[@class="style-scope ytd-comment-action-buttons-renderer"]')
Likes = []
No_of_Likes = []
for like in like_tags:
    Likes.append(like.text)
for i in range(1, len(Likes), 2):
    No_of_Likes.append(Likes[i])

In [106]:
comments = comments[:500]
comment_time = comment_time[:500]
No_of_Likes = No_of_Likes[:500]

In [107]:
#Creating dataframe
Youtube=pd.DataFrame({})
Youtube['Comments'] = comments
Youtube['Comment_time'] = comment_time
Youtube['Comment upvotes'] = No_of_Likes

In [108]:
len(No_of_Likes),len(comments),len(comment_time)

(500, 500, 500)

In [110]:
#Printing dataframe
Youtube.tail()

                          Comments Comment_time Comment upvotes
495        Comeback and aggression   1 year ago
496                                 10 days ago
497                                  1 year ago
498  Believe in urself.. Viratians   1 year ago               1
499                                  1 year ago

In [111]:
driver.close()

# 9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description

In [56]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [57]:
#Activating the chrome browser
driver = webdriver.Chrome()

In [58]:
driver.get('https://www.hostelworld.com/')

In [59]:
location = driver.find_element(By.XPATH,'//input[@class="native-input"]')
location.click()

In [60]:
search = driver.find_element(By.XPATH,'//input[@class="native-input"]')
search.send_keys('London')

In [ ]:
tap = driver.find_element(By.XPATH,'//div[@class="item-text"]')
tap.click()

In [53]:
hostel_name = []
location = []
ratings = []
total_reviews = []
overall_reviews = []
private_price = []
Facilities = []
dorm_price = []
description = []

In [43]:
hostel = driver.find_elements(By.XPATH, '//div[@class="property-name"]')
try:
    for i in hostel:
        hostel_name.append(i.text)
except:
    hostel_name.append("-")

In [44]:
distance = driver.find_elements(By.XPATH, '//div[@class="property-distance"]')
try:
    for i in distance:
        location.append(i.text)
except:
    location.append("-")

In [45]:
information = driver.find_elements(By.XPATH, '//span[@class="number"]')
try:
    for i in information:
        ratings.append(i.text.split("\n")[0])
except:
    ratings.append("-")

In [46]:
reviews = driver.find_elements(By.XPATH,'//span[@class="left-margin"]')
try:
    for i in reviews:
        total_reviews.append(i.text)
except:
    total_reviews.append("-")

In [47]:
review = driver.find_elements(By.XPATH,'//span[@class="keyword"]')
try:
    for i in review:
        overall_reviews.append(i.text)
except:
    overall_reviews.append("-")

In [48]:
private = driver.find_elements(By.XPATH,'//div[@class="accommodation-price unavailable"]')
try:
    for i in private:
        private_price.append(i.text.replace("\n", ""))
except:
    private_price.append("-")

In [49]:
dorm = driver.find_elements(By.XPATH,'//strong[@class="current"]')
for i in dorm:
    dorm_price.append(i.text.replace("\n", ""))

In [50]:
facilities = driver.find_elements(By.XPATH,'//div[@class="icon-container badge-icon"]')
try:
    for i in facilities:
        Facilities.append(i.text)
except:
    Facilities.append("-")

In [51]:
try:
    disc = driver.find_element(By.XPATH,'//div[@class="icon-container badge-icon"]')
    description.append(disc.text)
except NoSuchElementException:
    description.append('-')

In [52]:
HOSTEL=pd.DataFrame({})
HOSTEL['Hostel_name']=hostel_name[:20]
HOSTEL['Locations']=location[:20]
HOSTEL['Ratings']=ratings[:20]
HOSTEL['Total_reviews']=total_reviews[:20]
HOSTEL['Overall_reviews']=overall_reviews[:20]
HOSTEL['Private_price']=private_price[:20]
HOSTEL['Dorm_price']=dorm_price[:20]
HOSTEL['facilities']=Facilities[:20]
HOSTEL

,Hostel_name,Locations,Ratings,Total_reviews,Overall_reviews,Private_price,Dorm_price,facilities
0,St Christopher's Village,Hostel\n- 1.8km from city centre,8.2,(12485),Fabulous,No Privates Available,"₹12,310",
1,Palmers Lodge - Swiss Cottage,Hostel\n- 5.4km from city centre,9.0,(944),Superb,No Privates Available,"₹2,459",
2,St Christopher's Village,Hostel\n- 3km from city centre,8.2,(7806),Fabulous,No Privates Available,"₹15,656",
3,Urbany Hostel London,Hostel\n- 6.1km from city centre,9.5,(2003),Superb,No Privates Available,"₹4,877",
4,Generator London,Hostel\n- 1.7km from city centre,7.6,(5135),Very Good,No Privates Available,"₹11,435",
5,NX London Hostel,Hostel\n- 6.5km from city centre,8.0,(15719),Fabulous,No Privates Available,"₹2,544",
6,Safestay London Elephant & Castle,Hostel\n- 5.8km from city centre,7.1,(1670),Very Good,No Privates Available,"₹2,292",
7,Palmers Lodge - Swiss Cottage,Hostel\n- 3.2km from city centre,9.0,(421),Superb,No Privates Available,"₹2,158",
8,Safestay London Kensington Holland Park,Hostel\n- 10km from city centre,7.0,(5101),Very Good,No Privates Available,"₹2,625",
9,Clink261,Hostel\n- 1.7km from city centre,8.0,(240),Fabulous,No Privates Available,"₹1,836",
10,No.8 Willesden Hostel London,Hostel\n- 4.2km from city centre,6.9,(4456),Good,No Privates Available,"₹15,848",
11,Destinations Hostels @ The Gallery,Hostel\n- 5.7km from city centre,9.2,(3587),Superb,No Privates Available,"₹5,283",
12,Phoenix Hostel,Hostel\n- 9km from city centre,7.3,(4072),Very Good,No Privates Available,"₹1,247",
13,Queen Elizabeth Chelsea,Hostel\n- 11.9km from city centre,7.7,(4527),Very Good,No Privates Available,"₹5,332",
14,No.8 Seven Sisters,Hostel\n- 5.1km from city centre,5.6,(52),Fabulous,No Privates Available,"₹2,488",
15,London Backpackers,Hostel\n- 3.6km from city centre,8.0,(808),Fabulous,No Privates Available,"₹2,023",
16,Hostelle - women only hostel London,Hostel\n- 7.5km from city centre,8.9,(4307),Fabulous,No Privates Available,"₹1,484",
17,Prime Backpackers Angel,Hostel\n- 3.3km from city centre,8.0,(2914),Very Good,No Privates Available,"₹7,109",
18,St Christopher's Hammersmith,Hostel\n- 4.3km from city centre,7.5,(4096),Fabulous,No Dorms Available,"₹1,930",
19,Kabannas London St Pancras,Hostel\n- 5.5km from city centre,8.2,(1924),Very Good,No Privates Available,"₹4,130",

In [62]:
driver.close()